.jumbotron {
  margin-top: 5em;
  overflow: hidden;
  position: relative;
  padding-bottom: 1em;
  padding-top: 4em !important;

  //.row {
  //  margin-bottom: 2em;
  //}

  img.logo {
    max-width: 400px;
    min-width: 300px;
    width: 100%;
  }

  @media(max-width: 1190px) {
    img.logo {
      min-width: 250px;
    }
  }

  .back-btn {
    top: 1em;
    left: 2em;
    position: absolute;

    i {
      content: url("../../../assets/arrow_left.svg");
      width: 2em !important;
      height: 2em !important;
      padding: 0 !important;
    }

    span {
      padding: 0;
      font-size: 1.5em;
    }
  }
}
