<div class="jumbotron">
  <div class="back-btn row align-items-center"
        (click)="goBack()"
        *ngIf="showBack"><i class="col-auto"></i><span class="col-auto">Back</span></div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-9 col-lg-8">
      <div class="row">
        <div class="col-12 text-center">
          <img src="assets/logo.svg" class="logo" />
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h3 class="text-center">{{title}}</h3>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="time" *ngIf="showTime">
  <span [asyncProgress]="times$" (complete)="timesLoading = !$event" (error)="timesError = $event" (data)="times = $event"></span>

  <div class="row" *ngIf="times && !timesError; else notReady;" @expandTransition>
    <div class="col-12 col-md-4" *ngFor="let time of times;">
      <div class="card" *ngIf="!!time">
        <div class="card-body">
          <h1 class="text-center">{{time.date.split(' ')[0]}}<small>{{time.date.split(' ')[1]}}</small></h1>
          <hr />
          <h3 class="text-center">{{time.countryName}}</h3>
        </div>
      </div>
    </div>
  </div>

  <ng-template #notReady>
    <progress-card text="{{ timesError ? 'Error while f' : 'F' }}etching time information..."
                   [icon]="timesError ? 'exclamation' : 'refresh fa-spin'"
                   [bgColor]="timesError ? 'danger' : 'success'"></progress-card>
  </ng-template>
</div>
