<div class="jumbotron">
  <div class="back-btn row align-items-center"
        (click)="goBack()"
        *ngIf="showBack"><i class="col-auto"></i><span class="col-auto">{{ backString }}</span></div>
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row">
        <div class="col-12 text-center">
          <img src="assets/logo.svg" class="logo" />
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h3 class="text-center">{{title}}</h3>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="time">
  <span [asyncProgress]="times$"
        (complete)="timesLoading = !$event"
        (error)="onError(!!$event)"
        (data)="onSuccess($event)"></span>

  <progress-card [text]="(timesError ? 'Error while f' : 'F') + 'etching time information...'"
                 [icon]="timesError ? 'exclamation' : 'refresh fa-spin'"
                 [bgColor]="timesError ? 'danger' : 'success'" *ngIf="showTime && !times"></progress-card>

  <div class="row" *ngIf="showTime && times && !timesError;" [@expandTransition]="!!time">
    <div class="col-12 col-lg-4" *ngFor="let time of times;">
      <div class="card">
        <div class="card-body" *ngIf="time?.date?.split(' ') as timeString">
          <h1 class="text-center">{{timeString[0]}}<small>{{timeString[1]}}</small></h1>
          <hr />
          <h3 class="text-center">{{time.countryName}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
