/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  background: url("assets/bg.jpg") center center no-repeat;
  background-size: cover;
}

span, div, p, h1, h2, h3, h4, h5, h6, button {
  font-weight: 200 !important;
}

.row:not(:last-of-type) {
  margin-bottom: 2em;
}

.btn {
  min-width: 100px;
  max-width: 180px;
  border-radius: 2em;
  margin-bottom: 1em;
  min-height: 50px;
}
