
<div class="row justify-content-center">
  <div class="col-10 col-sm-auto">
    <a class="btn btn-success btn-block" [routerLink]="signupLink">
      Signup
    </a>
  </div>
  <div class="col-sm-auto d-none d-sm-block spacer">

  </div>
  <div class="col-10 col-sm-auto">
    <a class="btn text-success btn-block"
       [ngClass]="{'btn-light text-success': !hover, 'btn-success': hover}"
       [routerLink]="loginLink"
       (mouseenter)="hover = true"
       (mouseleave)="hover = false">
      Login
    </a>
  </div>
</div>

