<span [asyncProgress]="list$" (data)="onSuccess($event)" (error)="error = !!$event" (complete)="complete = $event"></span>
<div class="row justify-content-center" *ngIf="!error && complete">
  <div class="col-12 col-sm-8 col-md-6">
    <table class="table table-hover text-left">
      <thead>
      <tr>
        <th scope="col">Account number</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <th scope="row">{{item.id}}</th>
          <td>{{item.first}}</td>
          <td>{{item.last}}</td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="list.length === 0 && complete">No accounts found...</p>
    <p *ngIf="!complete">Fetching data...</p>
  </div>
</div>

<progress-card [text]="(error ? 'Error while f' : 'F') + 'etching the accounts list...'"
               [icon]="error ? 'exclamation' : 'refresh fa-spin'"
               [bgColor]="error ? 'danger' : 'success'" [visible]="error || !complete"></progress-card>
