<span [asyncProgress]="respond$" (data)="onSuccess($event)" (error)="error = $event" (complete)="complete = $event"></span>
<form (ngSubmit)="createAccount(firstName.value, lastName.value, $event)" #form="ngForm" novalidate *ngIf="!error">
  <div class="form-group row justify-content-center">
    <div class="col-12 col-sm-10 col-lg-6">
      <input type="text"
             class="form-control"
             name="firstName"
             placeholder="First Name"
             [(ngModel)]="model.first"
             #firstName="ngModel"
             [ngClass]="{'is-invalid': firstName.dirty && firstName.invalid}"
      required>
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <div class="col-12 col-sm-10 col-lg-6">
      <input type="text"
             class="form-control"
             name="lastName"
             placeholder="Last Name"
             [(ngModel)]="model.last"
             #lastName="ngModel"
             [ngClass]="{'is-invalid': lastName.dirty && lastName.invalid}"
      required>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-lg-6">
      <div class="row justify-content-xs-center justify-content-sm-end">
        <div class="col-xs-8 col-sm-auto">
          <button type="submit" class="form-input btn btn-success btn-block" [disabled]="!form.valid">Create Account</button>
        </div>
      </div>
    </div>
  </div>
</form>

<progress-card text="There was an error creating a new account!"
               icon="exclamation"
               bgColor="danger" *ngIf="!!error"></progress-card>
